<!-- Exam number: Y0076998 -->

{{extend 'layout.html'}}

<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>

{{=form}}

<script language="javascript"><!--
jQuery(document).ready($) {
	$("#web2py_user_form input:visible:enabled:first").focus();
	{{if request.args(0)=='register':}}
    	web2py_validate_entropy($('#auth_user_password'),100);
	{{elif request.args(0) in ('change_password','reset_password'):}}
    	web2py_validate_entropy($('#no_table_new_password'),100);
	{{pass}}
}
//--></script>

