<!-- Exam number: Y0076998 -->

{{extend 'layout.html'}}

<h2>{{
if response.title:
	=response.title
else:
	=T( request.args(0).replace('_',' ').capitalize() )
pass
}}</h2>

{{
if request.args(0) == 'login':
    =P('Log in to your BootUp account to create projects and pledge funds to others')
elif request.args(0) == 'register':
    =P('Create a BootUp account to create projects and pledge funds to others')
elif request.args(0) == 'profile':
	=H3('Your details')
pass
}}

{{=form}}

{{
if request.args(0) == 'profile':
	=H3('Your credit card')
pass
}}

<script language="javascript"><!--
jQuery(document).ready($) {
	$("#web2py_user_form input:visible:enabled:first").focus();
	{{if request.args(0)=='register':}}
    	web2py_validate_entropy($('#auth_user_password'),100);
	{{elif request.args(0) in ('change_password','reset_password'):}}
    	web2py_validate_entropy($('#no_table_new_password'),100);
	{{pass}}
}
//--></script>

