/* Exam number: Y0076998 */

/* basic styles */

body {
    color: #1a1a1a; /* very dark grey/black */
    font-family: FreeSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto 36px; /* center the page horizontally */
    padding: 0 10px;
    max-width: 1000px;
}

a {
    color: rgb(12, 12, 238); /* bluish */
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:focus, /* feedback/feedforward,
            particularly useful for keyboard navigation
            (people with motor impairments 
            or faulty laptop trackpads) */
a:active {
    background: #efefff;
}

h2,
h3 {
    margin: 8px 0;
}

h3 {
    font-size: 20px;
}

section {
    margin: 36px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* header */

.site-header { /* contains horizontal navigation bar */
    position: relative;
    margin: 0 -8px 36px;
}

.site-logo { /* "BootUp" */
    color: inherit;
    display: inline-block;
    font-size: 48px;
    font-weight: normal;
    margin: 8px;
    margin-top: 24px;
}

.logged-in { /* "Logged in as ____" in header */
    bottom: 24px;
    position: absolute;
    right: 8px;
}

/* horizontal navigation in header */

.site-navigation {
    background: #efefff; /* pale blue */
    clear: both;
    margin: 0;
    overflow: hidden;
}

    .user-menu { /* log in, log out, register etc */
        float: right;
        margin: 0;
        padding: 0;
    }    
    
        .user-menu li {
            display: inline-block;
        }
        
        .user-menu a {
            display: inline-block;
            padding: 8px;
        }
        
        .user-menu a:focus,
        .user-menu a:active {
            background: #cfcfff;
        }

    .site-navigation form { /* search form */
        float: left;
    }
    
        .site-navigation form label {
            display: inline-block;
            padding: 8px;
            padding-right: 0;
        }


/* large feedback messages */

.flash {
    background: #ff6; /* pale yellow */
    border: 1px solid #ee0; /* dark yellow */
    border-radius: 4px;
    margin: 36px 0;
    padding: 8px 10px;
}

    #closeflash {
        float: right;
        font-size: 14px;
    }


/* forms */

form td {
    padding-bottom: 8px;
    vertical-align: top;
}

.w2p_fl { /* table cell containing form field label */
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
}

.error {
    color: red;
    font-size: 14px;
}

.w2p_fc { /* table cell containing "comment" hint */
    font-size: 14px;
    padding-left: 4px;
    padding-top: 4px;
}

.w2p_fw select,
.w2p_fw textarea,
.w2p_fw input[type=text] {
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
}

input#project_title {
    font-size: 24px;
}

textarea#project_short_description {
    height: 3em;
}

main .btn[type=submit] {
    font-size: 16px;
}


/*
smorgasbord -- a collection of projects

(each rendered using the `partials/project.html`)
on a 'browse' or 'search results' or other page

arranged horizontally on a five-column grid

projects are separated by 20 pixels of space
*/

.smorgasbord {
    margin: 0 -8px 36px;
    overflow: hidden;
    padding: 0;
}

    .smorgasbord li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        list-style: none;
        margin-bottom: 18px;
        padding: 0 8px;
        width: 20%;        
    }

        .smorgasbord li > a {
            display: block;
        }

        .smorgasbord h4 {
            font-weight: normal;
            font-size: 18px;
            margin: 4px 0 0;
        }

        .smorgasbord img {
            display: block;
            height: auto;
            width: 100%;
        }

        .smorgasbord .thumbnail-container {
            height: 66%;
            overflow: hidden;
        }

    .smorgasbord li:nth-child(5n + 1) { /* 1st item in every row of 5 */
        clear: left;
    }

.web2py_grid {
    margin-bottom: 36px;
}

.web2py_table table {
    margin: 18px 0;
}

.web2py_table td {
    border-top: 1px solid #ccc;
    padding: 5px;
}

.web2py_grid .button + .button{
    margin-left: 5px;
}

.web2py_grid .button {
    background: #efefff; /* pale blue */
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
}

.web2py_table .button {
    font-size: 14px;
}

/* styles for single project pages */

figure {
    margin: 0;
}

#sidebar {
    float: right;
    margin-bottom: 36px;
    width: 25%;
}

figure,
#long-text {
    box-sizing: border-box;
    padding-right: 20px;
    width: 75%;
}

main img {
    height: auto;
    max-width: 100%;
}

